@import "../../../app.component.scss";

.title {
  color: $main-font-color;
  font-weight: 700;
}
.t1 {
  text-align: center;
}
.btn-outline-custom {
  border: 1px solid $main-font-color;
  font-weight: 600;
  color: $main-font-color;
  cursor: pointer;
  width: 100%;
  outline: none;
}
.btn-outline-custom:hover {
  background-color: $main-font-color;
  border: none;
  color: $main-bg-color;
}
.btn-custom {
  background-color: $main-font-color;
  color: $main-bg-color;
  max-width: 100%;
}
.dateInput {
  // padding: 6px 12px;
  // border: 1px solid #ced4da;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.fa-times {
  float: right;
  color: red;
  cursor: pointer;
  margin: 10px 15px 0px 0px;
}
.card-body {
  padding: 0px 20px 20px 20px;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
